---
- name: Backup running configurations
  hosts: "{{ target_hosts | default('nokia_srlinux') }}"
  gather_facts: false
  vars_files:
    - "{{ lookup('first_found', ([lookup('env', 'NCK_CONFIG') | default('')] + ['/clab/nck-config.yaml', '/clab/example/nck-config.yaml', playbook_dir ~ '/../../../example/nck-config.yaml']) | reject('equalto', '') | list) }}"
  tasks:
    - name: Run backup workflow
      ansible.builtin.import_role:
        name: common
        tasks_from: backup
