---
- name: Backup running configurations
  hosts: "{{ target_hosts | default('nokia_srlinux') }}"
  gather_facts: false
  vars:
    ansible_connection: local
  vars_files:
    - "{{ lookup('first_found', ['/clab/nck-config.yaml', '/clab/example/nck-config.yaml', playbook_dir ~ '/../../../example/nck-config.yaml']) }}"
    - ../group_vars/all.yml
    - ../group_vars/nokia_srlinux.yml
  tasks:
    - name: Run backup workflow
      ansible.builtin.import_role:
        name: common
        tasks_from: backup
