---
- name: Apply config via HTTP API
  ansible.builtin.uri:
    url: "{{ httpapi_base_url }}{{ httpapi_restore_path }}"
    method: "{{ httpapi_restore_method }}"
    url_username: "{{ _httpapi_username | default(omit, true) }}"
    url_password: "{{ _httpapi_password | default(omit, true) }}"
    headers: "{{ httpapi_headers | default(omit) }}"
    validate_certs: "{{ httpapi_validate_certs }}"
    force_basic_auth: "{{ httpapi_force_basic_auth }}"
    body: >-
      {{
        httpapi_restore_body
        if (httpapi_restore_body is defined and httpapi_restore_body is not none)
        else desired_config
      }}
    body_format: "{{ httpapi_restore_body_format | default(httpapi_body_format, true) | default(omit, true) }}"
    status_code: "{{ httpapi_restore_expected_status | default(httpapi_expected_status, true) | default(omit, true) }}"
  delegate_to: localhost
  vars:
    _orig_host: "{{ inventory_hostname }}"
    _httpapi_username: "{{ httpapi_username | default(hostvars[_orig_host].ansible_user, true) | default(omit, true) }}"
    _httpapi_password: "{{ httpapi_password | default(hostvars[_orig_host].ansible_password, true) | default(omit, true) }}"
  when: not ansible_check_mode
